.skater-list-item {
  height: 40px;
  line-height: 40px;
}

.skater-list-item__image {
  width: 40px;
  height: 40px;
  margin-right: 8px;
}

.skater-list-item__position {
  margin-left: 8px;
}

.skater-list-item__rating {
  text-align: right;
}
