body {
  background: #fafafa;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.form-control:focus {
  box-shadow: none;
}

.info-rows {
  margin-bottom: 40px;
}

.info-rows .row {
  margin-bottom: 8px;
}
