<h1>NHL 18 Database</h1>

<div class="form-group">
  <label for="inp">Search for team or player</label>
  <input #inp
         id="inp"
         class="form-control"
         type="text"
         placeholder="Search"
         (input)="getSuggestions(inp.value)"
         autofocus>
</div>

<ul>
  <li *ngFor="let s of suggestions">
    <img [alt]="s.name"
         [src]="s.img"
         style="max-width: 40px;max-height: 40px;">
    <a *ngIf="s.type === 'team'"
       [routerLink]="['/team', s.id]"
    >{{ s.name }}</a>
    <span *ngIf="s.type === 'skater'">{{ s.name }}</span>
    <small style="color: grey; margin-left: 5px;">{{ s.type }}</small>
  </li>
</ul>