.main {
  position: relative;
}

.main-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, .9);
  display: none;
}

.main-shadow.main-shadow_activated {
  display: block;
}
