<p *ngIf="skater === null">
  No skater
</p>

<div class="row" *ngIf="skater !== null">
  <div class="col-md-4 info-rows">
    <div class="skater-card">
      <div class="skater-overall">
        <span>{{ skater.overall }}</span>
        <span class="skater-overall-text" title="Overall rating">OVR</span>
      </div>
      <img class="skater-image"
           [src]="skater.img">
    </div>
    <h1>{{ skater.first_name}} {{ skater.last_name }}</h1>
    <h6>{{ skater.position | shortPosition }} | {{ skater.type }}</h6>
    <hr>
    <div class="row">
      <div class="col">Potential</div>
      <div class="col">{{ skater.potential }}</div>
    </div>
    <div class="row">
      <div class="col">Age</div>
      <div class="col">{{ skater.age }}</div>
    </div>
    <div class="row">
      <div class="col">Shoots</div>
      <div class="col">{{ skater.shoots }}</div>
    </div>
    <div class="row">
      <div class="col">Height</div>
      <div class="col">{{ skater.height }} cm</div>
    </div>
    <div class="row">
      <div class="col">Weight</div>
      <div class="col">{{ skater.weight }} kg</div>
    </div>
    <hr>
    <div class="row">
      <div class="col">Salary</div>
      <div class="col">{{ skater.salary }} million USD</div>
    </div>
    <div class="row">
      <div class="col">Years Left</div>
      <div class="col">{{ skater.years_left }}</div>
    </div>
    <hr>
    <div class="row">
      <div class="col">Country</div>
      <div class="col">{{ skater.country.name }}</div>
    </div>
    <div class="row">
      <div class="col">Team</div>
      <div class="col">
        <a [routerLink]="['/team', skater.team.abbrev]"
           (click)="onTeamClick()">{{ skater.team.name }}</a>
      </div>
    </div>
    <div class="row">
      <div class="col">Number</div>
      <div class="col">{{ skater.number }}</div>
    </div>
    <div *ngIf="skater.draft_team !== null">
      <hr>
      <div class="row">
        <div class="col">Draft Team</div>
        <div class="col">
          <a [routerLink]="['/team', skater.draft_team.abbrev]"
             (click)="onTeamClick()">{{ skater.draft_team.name }}</a>
        </div>
      </div>
      <div class="row">
        <div class="col">Draft Year</div>
        <div class="col">{{ skater.draft_year }}</div>
      </div>
      <div class="row">
        <div class="col">Draft Round</div>
        <div class="col">{{ skater.draft_round }}</div>
      </div>
      <div class="row">
        <div class="col">Draft Overall</div>
        <div class="col">{{ skater.draft_overall }}</div>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="row">
      <div class="col">
        <div class="ratings">
          <p><b>Skills</b><span class="stars">
            <i class="stars-rating" [ngClass]="'stars-rating-' + skater.puck_skills"></i>
          </span></p>
          <p><span>Deking</span><span class="float-right">{{ skater.deking }}</span></p>
          <p><span>Hand Eye</span><span class="float-right">{{ skater.hand_eye }}</span></p>
          <p><span>Passing</span><span class="float-right">{{ skater.passing }}</span></p>
          <p><span>Puck Control</span><span class="float-right">{{ skater.puck_control }}</span></p>
        </div>
        <div class="ratings">
          <p><b>Shooting</b><span class="stars">
            <i class="stars-rating" [ngClass]="'stars-rating-' + skater.shooting"></i>
          </span></p>
          <p><span>Slap Shot Accuracy</span><span class="float-right">{{ skater.slap_shot_accuracy }}</span></p>
          <p><span>Slap Shot Power</span><span class="float-right">{{ skater.slap_shot_power }}</span></p>
          <p><span>Wrist Shot Accuracy</span><span class="float-right">{{ skater.wrist_shot_accuracy }}</span></p>
          <p><span>Wrist Shot Power</span><span class="float-right">{{ skater.wrist_shot_power }}</span></p>
        </div>
        <div class="ratings">
          <p><b>Skating</b><span class="stars">
            <i class="stars-rating" [ngClass]="'stars-rating-' + skater.skating"></i>
          </span></p>
          <p><span>Acceleration</span><span class="float-right">{{ skater.acceleration }}</span></p>
          <p><span>Agility</span><span class="float-right">{{ skater.agility }}</span></p>
          <p><span>Balance</span><span class="float-right">{{ skater.balance }}</span></p>
          <p><span>Endurance</span><span class="float-right">{{ skater.endurance }}</span></p>
          <p><span>Speed</span><span class="float-right">{{ skater.speed }}</span></p>
        </div>
      </div>
      <div class="col">
        <div class="ratings">
          <p><b>Senses</b><span class="stars">
            <i class="stars-rating" [ngClass]="'stars-rating-' + skater.senses"></i>
          </span></p>
          <p><span>Discipline</span><span class="float-right">{{ skater.discipline }}</span></p>
          <p><span>Off. Awareness</span><span class="float-right">{{ skater.offensive_awareness }}</span></p>
          <p><span>Poise</span><span class="float-right">{{ skater.poise }}</span></p>
          <p>&nbsp;</p>
        </div>
        <div class="ratings">
          <p><b>Defense</b><span class="stars">
            <i class="stars-rating" [ngClass]="'stars-rating-' + skater.defense"></i>
          </span></p>
          <p><span>Def. Awareness</span><span class="float-right">{{ skater.defensive_awareness }}</span></p>
          <p><span>Faceoffs</span><span class="float-right">{{ skater.faceoffs }}</span></p>
          <p><span>Shot Blocking</span><span class="float-right">{{ skater.shot_blocking }}</span></p>
          <p><span>Stick Checking</span><span class="float-right">{{ skater.stick_checking }}</span></p>
        </div>
        <div class="ratings">
          <p><b>Physical</b><span class="stars">
            <i class="stars-rating" [ngClass]="'stars-rating-' + skater.physical"></i>
          </span></p>
          <p><span>Aggressiveness</span><span class="float-right">{{ skater.aggressiveness }}</span></p>
          <p><span>Body Checking</span><span class="float-right">{{ skater.body_checking }}</span></p>
          <p><span>Durability</span><span class="float-right">{{ skater.durability }}</span></p>
          <p><span>Fighting Skill</span><span class="float-right">{{ skater.fighting_skill }}</span></p>
          <p><span>Strength</span><span class="float-right">{{ skater.strength }}</span></p>
        </div>
        </div>
        </div>
        </div>
        </div>
