.skater-info {
  margin-bottom: 40px;
}

.skater-card {
  padding-top: 35px;
  position: relative;
  margin-bottom: 10px;
}

.skater-overall {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
  line-height: 55px;
  text-align: center;
  border-radius: 100%;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, .1);
  font-size: 30px;
  font-weight: 500;
}

.skater-overall-text {
  display: block;
  position: absolute;
  width: 70px;
  height: 12px;
  line-height: 12px;
  font-size: 12px;
  font-weight: 400;
  color: rgba(0, 0, 0, .5);
  left: 0;
  bottom: 12px;
}

.skater-image {
  width: 100%;
  max-width: 336px;
}

.stars {
  display: inline-block;
  height: 20px;
  width: 100px;
  background-image: url('/static/img/stars.svg');
  background-size: 20px 40px;
  background-position: 0 -20px;
  position: relative;
  top: 0;
  left: 10px;
  float: right;
}

.stars-rating {
  display: inline-block;
  height: 20px;
  background-image: url('/static/img/stars.svg');
  background-size: 20px 40px;
  position: absolute;
  top: 0;
  left: 0;
}

.stars-rating-10 { width: 100px; }
.stars-rating-9 { width: 90px; }
.stars-rating-8 { width: 80px; }
.stars-rating-7 { width: 70px; }
.stars-rating-6 { width: 60px; }
.stars-rating-5 { width: 50px; }
.stars-rating-4 { width: 40px; }
.stars-rating-3 { width: 30px; }
.stars-rating-2 { width: 20px; }

.ratings {
  padding: 0 40px 40px 0;
}

.ratings p {
  margin-bottom: 8px;
}
