<h1>Skaters 🏒</h1>
<div class="row">
  <div class="col-md-4 order-md-2">
    <form class="skaters-form" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
      <ul class="list-group">
        <li class="list-group-item">
          <div *ngFor="let field of formFields"
               class="form-group">
            <label class="skaters-form__label"
                   [for]="field.name"
                   *ngIf="field.name !== 'age_to'">
              <span *ngIf="field.name === 'age_from'">Age</span>
              <span *ngIf="field.name !== 'age_from'">{{ field.label }}</span>
            </label>
            <input *ngIf="field.type === 'text' || field.type === 'number'"
                   class="form-control skaters-form__control"
                   [type]="field.type"
                   [id]="field.name"
                   [formControlName]="field.name">
            <select *ngIf="field.type === 'select'"
                    class="form-control skaters-form__control"
                    [id]="field.name"
                    [formControlName]="field.name">
              <option *ngFor="let option of field.options"
                      [value]="option.value">{{ option.label }}</option>
            </select>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Search</button>
            <button class="btn btn-link" (click)="onReset()">Reset</button>
          </div>
        </li>
      </ul>
    </form>
  </div>
  <div class="col-md-8 order-md-1">
    <div *ngIf="skaters.length === 0; then noSkaters else showSkaters"></div>

    <ng-template #noSkaters>
      <ul class="list-group" *ngIf="skaters.length === 0">
        <li class="list-group-item">
          <span *ngIf="isSearching">Searching...</span>
          <b *ngIf="!isSearching">No skaters found</b>
        </li>
      </ul>
    </ng-template>

    <ng-template #showSkaters>
      <app-skaters-list *ngIf="skaters.length > 0"
                        [skaters]="skaters"></app-skaters-list>
      <nav *ngIf="pagination !== null && pagination.pages > 1"
           aria-label="Pagination"
           class="skaters-pagination">
        <ul class="pagination skaters-pagination__pagination">
          <li *ngFor="let _page of pagesAsArray; let pageIndex = index"
              class="page-item"
              [ngClass]="{'active': pageIndex === pagination.page }">
            <span class="page-link"
                  (click)="gotoPage(pageIndex)">
              {{ pageIndex+1 }}
            </span>
          </li>
        </ul>
      </nav>
    </ng-template>

  </div>
</div>
