<h1>Teams</h1>

<div class="row">
  <div class="col-md">
    <h4>Western Conference</h4>
    <div class="row">
      <div class="col-6">
        <h6>Pacific Division</h6>
        <app-teams-list [teams]="pacificTeams"></app-teams-list>
      </div>
      <div class="col-6">
        <h6>Central Division</h6>
        <app-teams-list [teams]="centralTeams"></app-teams-list>
      </div>
    </div>
  </div>
  <div class="col-md">
    <h4>Eastern Conference</h4>
    <div class="row">
      <div class="col-6">
        <h6>Metropolitan Division</h6>
        <app-teams-list [teams]="metropolitanTeams"></app-teams-list>
      </div>
      <div class="col-6">
        <h6>Atlantic Division</h6>
        <app-teams-list [teams]="atlanticTeams"></app-teams-list>
      </div>
    </div>
  </div>
</div>
