<p *ngIf="teamNotFound">
  Team not found
</p>

<p *ngIf="!teamNotFound && team === null">
  Loading...
</p>

<div class="row" *ngIf="!teamNotFound && team !== null">
  <div class="col-md-4 order-md-2 team">
    <div class="team__image-wrapper">
      <img [alt]="team.name"
           [src]="team.img"
           class="team__image">
    </div>
    <h1>{{ team.name }}</h1>
    <h6>
      <span>{{ team.country.name }}</span>
      <span *ngIf="team.country.abbrev === 'can'">🇨🇦</span>
      <span *ngIf="team.country.abbrev === 'usa'">🇺🇸</span>
    </h6>
    <hr>
    <div class="row">
      <div class="col">Conference</div>
      <div class="col">{{ team.conference }}</div>
    </div>
    <div class="row">
      <div class="col">Division</div>
      <div class="col">{{ team.division }}</div>
    </div>
    <hr>
    <div class="row">
      <div class="col">Forwards Rating</div>
      <div class="col">{{ team.forwards_rating }}</div>
    </div>
    <div class="row">
      <div class="col">Defensemen Rating</div>
      <div class="col">{{ team.defensemen_rating }}</div>
    </div>
    <div class="row">
      <div class="col">Goalies Rating</div>
      <div class="col">{{ team.goalies_rating }}</div>
    </div>
  </div>

  <div class="col-md-8 order-md-1">
    <div *ngIf="!team.is_active" class="alert alert-danger">
      The team is inactive
    </div>
    <div *ngIf="team.is_active">
      <h3>Forwards</h3>
      <ul class="list-group" *ngIf="skaters.length === 0">
        <li class="list-group-item">Loading...</li>
      </ul>
      <ul class="list-group list-skaters" *ngIf="skaters.length > 0">
        <li class="list-group-item" *ngFor="let skater of forwards">
          <app-team-skater
            [skater]="skater"
            [isForward]="true"></app-team-skater>
        </li>
      </ul>
      <h3>Defensemen</h3>
      <ul class="list-group" *ngIf="skaters.length === 0">
        <li class="list-group-item">Loading...</li>
      </ul>
      <ul class="list-group list-skaters" *ngIf="skaters.length > 0">
        <li class="list-group-item" *ngFor="let skater of defensemen">
        <app-team-skater
          [skater]="skater"
          [isForward]="false"></app-team-skater>
        </li>
      </ul>
    </div>
  </div>

</div>

