.team {
  margin-bottom: 40px;
}

.team__image-wrapper {
  text-align: center;
}

.team__image {
  width: 85%;
  margin-bottom: 20px;
}

@media (min-width: 576px) {
  .team__image {
    width: 95%;
    margin-bottom: 10px;
  }
}

.team .row {
  margin-bottom: 8px;
}
