<p *ngIf="team === null">
  No team
</p>

<div class="row" *ngIf="team !== null">
  <div class="col-sm-4 info-rows">
    <img [alt]="team.name"
         [src]="team.img"
         class="team-image">
    <h1>{{ team.name }}</h1>
    <h6>{{ team.country.name }}</h6>
    <hr>
    <div class="row">
      <div class="col">Conference</div>
      <div class="col">{{ team.conference }}</div>
    </div>
    <div class="row">
      <div class="col">Division</div>
      <div class="col">{{ team.division }}</div>
    </div>
    <hr>
    <div class="row">
      <div class="col">Forwards Rating</div>
      <div class="col">{{ team.forwards_rating }}</div>
    </div>
    <div class="row">
      <div class="col">Defensemen Rating</div>
      <div class="col">{{ team.defensemen_rating }}</div>
    </div>
    <div class="row">
      <div class="col">Goalies Rating</div>
      <div class="col">{{ team.goalies_rating }}</div>
    </div>
  </div>
  <div class="col-sm-8">
    <div *ngIf="!team.is_active" class="alert alert-danger">
      The team is inactive
    </div>
    <div *ngIf="team.is_active">
      <h3>Forwards</h3>
      <ul>
        <app-team-skater *ngFor="let skater of forwards"
                         [skater]="skater"
                         [isForward]="true">
        </app-team-skater>
      </ul>
      <h3>Defensemen</h3>
      <ul>
        <app-team-skater *ngFor="let skater of defensemen"
                         [skater]="skater"
                         [isForward]="false">
        </app-team-skater>
      </ul>
    </div>    
  </div>
</div>
