<p *ngIf="team === null">
  No team
</p>

<div class="row" *ngIf="team !== null">
  <div class="col-sm-4">
    <img [alt]="team.name"
         [src]="team.img"
         style="width: 100%; max-width: 300px; max-height: 300px;">
    <h1>{{ team.name }}</h1>
    <h6>{{ team.country.name }}</h6>
    <hr>
    <p>Conference: {{ team.conference }}</p>
    <p>Division: {{ team.division }}</p>
    <hr>
    <p>Forwards Rating: {{ team.forwards_rating }}</p>
    <p>Defensemen Rating: {{ team.defensemen_rating }}</p>
    <p>Goalies Rating: {{ team.goalies_rating }}</p>
  </div>
  <div class="col-sm-8">
    <div *ngIf="!team.is_active" class="alert alert-danger">
      This team is inactive!
    </div>
    <div *ngIf="team.is_active">
      <h3>Forwards</h3>
      <ul>
        <app-team-skater *ngFor="let skater of forwards"
                         [skater]="skater"
                         [isForward]="true">
        </app-team-skater>
      </ul>
      <h3>Defensemen</h3>
      <ul>
        <app-team-skater *ngFor="let skater of defensemen"
                         [skater]="skater"
                         [isForward]="false">
        </app-team-skater>
      </ul>
    </div>    
  </div>
</div>
