<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>NHL 18 Database</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="/static/bundle/favicon.ico">
</head>
<body>
  <app-root></app-root>
<script type="text/javascript" src="/static/bundle/inline.bundle.js"></script><script type="text/javascript" src="/static/bundle/polyfills.bundle.js"></script><script type="text/javascript" src="/static/bundle/styles.bundle.js"></script><script type="text/javascript" src="/static/bundle/vendor.bundle.js"></script><script type="text/javascript" src="/static/bundle/main.bundle.js"></script></body>
</html>
