.header {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  background: #fff;
}

.navbar {
  padding: 10px 0;
}

.nav-item {
  margin: 0 15px;
  height: 40px;
  line-height: 40px;
  position: relative;
}

.nav-item.active::after {
  display: block;
  content: '';
  height: 3px;
  width: 100%;
  background: rgba(0, 0, 0, .9);
  position: absolute;
  left: 0;
  bottom: -10px;
}

.nav-link {
  cursor: pointer;
}

.header .nav-link {
  padding: 0;
}

.active .nav-link {
  font-weight: 500;
  cursor: default;
}

.nav-link.nav-link-search {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('/static/img/search.svg');
  background-size: 20px 20px;
  opacity: .4;
  margin-top: 11px;
}

.nav-link.nav-link-search:hover {
  opacity: .6;
}

.form-search {
  width: 100%;
  display: none;
}

.form-control {
  width: 100%;
  height: 40px;
  border: none;
  padding: 0;
  font-size: 22px;
}

.searching .form-search {
  display: block;
}

.searching .navbar-nav {
  display: none;
}

.search-msg {
  padding-bottom: 15px;
}

.suggestions__list {
  margin: 0;
}

.suggestions__item {
  cursor: pointer;
  padding: 5px 0;
}

.suggestions__item:first-child {
  padding-top: 15px;
  border-top: 2px solid rgba(0, 0, 0, .1);
}

.suggestions__item:last-child {
  padding-bottom: 15px;
}

.suggestions__item-img {
  max-width: 40px;
  max-height: 40px;;
}

.suggestions__item-type {
  font-size: 13px;
  color: #999;
  margin-left: 5px;
}
