<h1>About <a href="https://github.com/evbogdanov/nhl-18-db">NHL 18 DB</a></h1>
<app-bubble
  message="Hi, my name is Ev. I started this project after playing NHL 18 for a while. The idea was to create an online database of all players presented in the game. Unfortunately, the process of adding players is extremely tedious. And being a lazy person, I ended up with only the highest-rated skaters from each team. If you wish, you can help me to complete the database. Everything is open-sourced. Feel free to contribute!"></app-bubble>
